# SQL Part 4 Studio

For this studio, you will be working in small groups and using the BooksDB.  One group member should screen share while fellow group members code along in their own notebooks.  Each group member will submit a link to their studio notebook.

You are back at the bookstore helping employees with their inventory of books.   Four employees need your help with finding books to create in-store displays.  Read their requests and decide if you want to use a correlated subquery, nested subquery, UNION operator, EXCEPT operator, or INTERSECT operator.  You may not use any joins or add multiple statements to the WHERE clause unless explicitly asked.

## QUESTION 1:  Willow

Willow wants a list of book titles that have multiple authors attributed to them.  Write a query to return her desired results.

In [1]:
-- Code here:
-- need books (titles?)
select top 5 b.authors, b.title
from books as b 
WHERE authors IN
(select b.authors where authors like '%, %')

authors,title
"J.K. Rowling, Mary GrandPré","Harry Potter and the Sorcerer's Stone (Harry Potter, #1)"
"George Orwell, Erich Fromm, Celâl Üster",1984
"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-Doubleday",The Diary of a Young Girl
"Stieg Larsson, Reg Keeland","The Girl with the Dragon Tattoo (Millennium, #1)"
"J.K. Rowling, Mary GrandPré, Rufus Beck","Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)"

## QUESTION 2: Ira

Ira was asked by a customer for titles that have been tagged "Meditation".  As you create a query for Ira, think about how the tables in BooksDB are organized as you write your query.

In [5]:
-- Code here:
SELECT*
from tags
WHERE tag_name LIKE 'Meditation'

SELECT

tag_id,tag_name
19682,meditation

## QUESTION 3:  Alyce

Alyce wants to create a display of books with an average rating of 4.2 or higher, but she only wants books that share both title and original title.  Write a query that displays both the original title and title for Alyce, in descending order by rating.  Make sure that none of the original titles contain NULL values either.

In [3]:
-- Code here:
--

## QUESTION 4:  Thisbe

Thisbe is planning to make a long-term display of popular books that she will update monthly, reflecting different time periods.  She wants to make it reader-centric by including titles that readers have averagely rated higher than the book's actual average rating. 

**Part A:**   Write a query that compares the publication time with average reader ratings.

**Part B:**  She wants the list ordered by year, then the book title

In [4]:
-- Code here: